.pad
{
  background: #CFCFCF;
  border: 1px solid #555;
}
.scratches .pad
{
  display: none;
}
  .scratches h2 a.active
  {
    color: #636363;
  }
.canvas
{
  list-style: none;
}
  .canvas h2,
  .canvas p,
  .canvas input,
  .canvas textarea
  {
    display: none;
  }
