.pad
{
  background: #CFCFCF;
  border: 1px solid #555;
}
.scratches .pad
{
  display: none;
}
.canvas
{
  list-style: none;
}
  .canvas h2,
  .canvas p,
  .canvas input,
  .canvas textarea
  {
    display: none;
  }
